*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        .section{
            margin: 20px;
            margin-top: 160px;
            border: 2px solid white;
            border-radius: 20px;
            background-color: white;
            padding: 20px;
            
            img{
                width: 200px;
                height: 200px;
                border: none;
                border-radius: 100px;
            }
            img:hover{
                border: 7px solid #00b846;
                transition: 1s;
            }
            h2{
                color: black;
                text-align: center;
                padding-top: 20px;
            }
            p{
                color: #00b846;
                text-align: center;
                padding-top: 10px;
            }
           
            svg{
                margin-top: 20px;
                width: 50px;
                height: 30px;
                text-align: center;
            }
            svg:hover{
                transform: scale(1.5);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    body{
        main{
            display: flex;
            flex-wrap: wrap;
            .section{
                margin: 10px;
            }
    }
}
}